    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="single-item" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
            <div>
                <!--Slide 1-->
                <div class="row">
                    <div class="col-xs-12">
                        <h1>The Wedding Party</h1>
                    </div>
                </div>
            </div>
            <div> 
                <!--Slide 2-->
                <div class="row">
                    <div class="col-xs-12">
                        <p>Content</p>
                    </div>
                </div></div>
            <div> 
                <!--Slide 3-->
                <div class="row">
                    <div class="col-xs-12">
                        <p>Content</p>
                    </div>
                </div></div>
         </div>
    </section>