<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="text-center">Bridesmaids</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Marissa Viramontes</p>
                    <img src="img/marissa.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Patricia Viramontes</p>
                    <img src="img/patty.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Pamela Perez</p>
                    <img src="img/pamela.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Alma Rodriguez</p>
                    <img src="img/alma.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Ashley Gutierrez</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h3 class="text-center">Groomsmen</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Salvador Orozco</p>
                    <img src="img/sal.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Daniel Viramontex</p>
                    <img src="img/daniel.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Manny Perez</p>
                    <img src="img/manny.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Maximiliano Rodriguez</p>
                    <img src="img/max.jpg" class="img-circle" alt="pic" height="202" width="202">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">?</p>
                </div>
            </div>
        </div>
    </div>
</section>