<!-- Event Section -->
<section id="event" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Event Info</h2>
                <p>Our wedding will take place in beautiful Juchipila, Zacatecas. Gently tucked between emerald mountains lies
                    a hidden gem known as el Cañón de Juchipila. The smell of churros, sweet sugar cane, and sounds of laughter
                    flow through the alleyways, as the hums of the town's church bell echo amongst the streets. Overlooked
                    by the Cerro De Santa Cruz and glow of the moon, Juchipila maintains its charm by way of its residents.
                    Join us January 3rd as we invite you to celebrate our marriage alongside the cañon's breeze, friends,
                    and family.</p>
            </div>
        </div>
    </div>
</section>